/*		Default Layout: 1000px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */




/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 1000px) {
.container{	width: 100%;
}
main .work .col1{
	width: 22.5%;
	margin-left: 2%;
	
}
main .services{
	width: 47%;
}
main .services .sec1{
	width: 47%;
}
main .team{
	width: 46%;
}
main .team .person{
	width: 47%;
}
.footer_top .col_1{
	margin-left: 2%;
}
.footer_top .col_2{
	margin-left: 2%;
}
.footer_top .col_3{
	margin-left: 2%;
}
.footer_top .col_4{
	margin-right: 2%;
}



}

@media only screen and (max-width: 890px){
	body,html{
		font-size:15px;
	}
}
@media only screen and (max-width: 860px){
	body,html{
		font-size:14px;
	}
}
@media only screen and (max-width: 820px){
	body,html{
		font-size:13px;
	}
}
@media only screen and (max-width: 800px){
	body,html{
		font-size:12px;
	}
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
body,html{
	font-size: 16px;
}

.container{
	width: 100%;
}
.top_header {
	display: none;
}
.main_header .brand{
	width: 30%;
	margin: 0 auto;
	float: none;
	display: block;
}
.main_header .brand img{
	padding: 10px 0;
}
.main_header .brand p{
	padding-left:10px;
	padding-bottom: 0;
}
.main_header .menu{
	width: 100%;
	height: 32px;
	border: 1px solid #fff;
	margin-top:20px;
	display: block;
}
.main_header .menu img{
	width: 32px;
	padding-left: 5px;
}
.main_header .nav{
	padding: 0;
	width:100%;
}
.main_header .nav ul{
	width: 100%;
	overflow: hidden;
	background: #505050;
	height: 0;
}
.main_header .nav ul.open{
	height: auto;
}
.main_header .nav ul li{
	float: none;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	display:block;
}
.main_header .nav ul li p{
	padding-bottom: 20px;
	border-bottom: 1px solid #999999;
	display: block;
}

.slider{
	display: none;
}
main .work .col1{
	width: 96%;
	margin-left: 2%;
	margin-top: 2%;
}
main .work .col1 img{
	max-width: 100%;
	height: 100%;
}
main .services{
	width: 92%;
}
main .services .sec1{
	width: 100%;
}
main .team{
	width: 92%;
	padding-left: 3%;
}
main .team .person{
	width: 100%;
}
.footer_top .col_1{
	width: 50%;
	margin:2% 25%;
}
.footer_top .col_2{
	width: 50%;
	margin:2% 25%;
}
.footer_top .col_3{
	width: 50%;
	margin:2% 25%;
}
.footer_top .col_4{
	width: 50%;
	margin:2% 25%;
}
.footer{
	text-align: center;
}
.footer p{
	float: none
}
.footer .rightp{
	float: none;
}
	

	
	
}
	





/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
body,html{
	font-size: 16px;
}

.container{
	width: 100%;
}
.top_header{
	display: block;
}
.top_header .contact {
	width: 80%;
}
.top_header .search{
	width: 10%;
}
.top_header .search input{
	display: none;
}
.top_header .contact p{
	padding-right: 0;
}
.main_header .brand{
	width: 30%;
	margin: 0 auto;
	float: none;
	display: block;
}
.main_header .brand img{
	padding: 10px 0;
}
.main_header .brand p{
	padding-left:10px;
	padding-bottom: 0;
}
.main_header .menu{
	width: 100%;
	height: 32px;
	border: 1px solid #fff;
	margin-top:20px;
	display: block;
}
.main_header .menu img{
	width: 32px;
	padding-left: 5px;
}
.main_header .nav{
	padding: 0;
	width:100%;
}
.main_header .nav ul{
	width: 100%;
	overflow: hidden;
	background: #505050;
	height: 0;
}
.main_header .nav ul.open{
	height: auto;
}
.main_header .nav ul li{
	float: none;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	display:block;
}
.main_header .nav ul li p{
	padding-bottom: 20px;
	border-bottom: 1px solid #999999;
	display: block;
}

.slider{
	display: block;
}
main .work .col1{
	width: 47%;
	margin-left: 2%;
	margin-top: 2%;
}
main .work .col1 img{
	max-width: 100%;
	height: 100%;
}
main .services{
	width: 95%;
}
main .services .sec1{
	width: 47%;
}
main .team{
	width: 95%;
	
}
main .team .person{
	width: 47%;
}
.footer_top .col_1{
	width: 50%;
	margin:2% 25%;
}
.footer_top .col_2{
	width: 50%;
	margin:2% 25%;
}
.footer_top .col_3{
	width: 50%;
	margin:2% 25%;
}
.footer_top .col_4{
	width: 50%;
	margin:2% 25%;
}
.footer{
	text-align: center;
}
.footer p{
	float: none
}
.footer .rightp{
	float: none;
}



}


@media only screen and (max-width: 590px){
	body,html{
		font-size:14px;
	}
	.top_header .contact p{
	padding-right: 10px;
	padding-left: 0;
	}
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
	
}